body{
    margin: 30px;

}

form{
    width: 500px;
    margin: auto;
    background-color:#f0c58d;
    border-radius: 10px;
    
}
fieldset{
    border: 2px solid #008b8b;
    border-radius: 10px;
    margin: 20px;

    
    
}

input{
    outline: none;
    background-color: #f0c58d;
    border-radius: 5px;
}
legend{
    color: #008b8b;
}

textarea{
    min-width: 400px;
    min-height: 50px;
}