body{
    margin: 30px;

}

form{
    width: 500px;
    margin: auto;
    background-color:darkcyan;
    border-radius: 10px;
    border: 5px solid black;
    
}
fieldset{
    border: 2px solid darkkhaki;
    border-radius: 10px;
    margin: 20px;

    
    
}

input{
    outline: none;
    /* background-color: #f0c58d; */
    border-radius: 5px;
    /* color:darkgray; */
}
legend{
    color: darkgreen;
}

textarea{
    min-width: 400px;
    min-height: 50px;
}

h1{
    text-align: center;
    color: salmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.btn{
    margin-left: 25%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding:15px 40px 15px 40px;
    color: #ffff;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(18, 18, 238);
    font-size: 20px;
    
    
}

.btn:hover{
    cursor: pointer;
}
.btn:active{
    background-color: #ffff;
    color:black ;
    /* background-color:#ffff; */
}

#GenerateResume{
    margin-top: 5px;
    margin-left:5px;    
    margin: auto;
    width: 40%;
    background-color:darkcyan;
    border: 3px solid black ;
    border-radius: 10px;
    
}

.h2{
    text-align: center;
}